# Suppression des fichiers de fabrication (Build) partout
build/
**/build/
*.class
*.dex

# Caches et réglages locaux
.gradle/
/local.properties
/.idea/
*.iml

# THE 100TRAL specific caches sur D:
/gradle_cache_100tral/
/android_home/
/gradle_temp/
/hs_err_pid*
/replay_pid*
