*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# THE 100TRAL specific caches
/gradle_cache_100tral/
/android_home/
/gradle_temp/
/hs_err_pid*
/replay_pid*
